$Small:576px; //sm
$Medium:768px; //md
$Large:992px; //lg
$Phone:375px;
$hold-padding:12px;


$bg-primary:#AA0601;
$bg-secondary:#FBF2F2;
$bg-color1:#FFFFFF; 


$fc-primary:#AA0601;
$fc-secondary:#FFFFFF;
$fc-color1:#650300;
$fc-color2:#707070;
