<div class="primary_bg_color">
    <div class="container footer">
        
        <div class="ft-navbar">
            <ul class="ft-list">
                <li class="ft-list__item">
                    <a href="index_header.html">首頁</a>
                </li>
                <li class="ft-list__item">
                    <a href="">系列鏡框</a>
                </li>
                <li class="ft-list__item">
                    <a href="">門市據點</a>
                </li>
                <li class="ft-list__item">
                    <a href="">部落格</a>
                </li>
                <li class="ft-list__item">
                    <a href="">常見問題</a>
                </li>
            </ul>

            <ul class="ft-icon">
                <li class="ft-icon__item">
                    <a href="">
                        <img alt="FB_ICON圖" src="../assets/images/ic-social-fb.png">
                    </a>
                </li>
                <li class="ft-icon__item">
                    <a href="">
                        <img alt="IG_ICON圖" src="../assets/images/ic_social_ig.png">

                    </a>
                </li>
                <li class="ft-icon__item">
                    <a href="">
                        <img alt="LINE_ICON圖" src="../assets/images/ic_social_line.png">
                    </a>
                </li>
            </ul>
        </div>

        <div class="ft-contact">
            <ul class="contact-list fs-32">

                <li class="contact-list__item ">
                    <span class="material-symbols-outlined fs-32">
                        call
                    </span>
                    <a href="">
                        <span>0800-000-00</span>
                    </a>

                </li>

                <li class="contact-list__item">
                    <span class="material-symbols-outlined fs-32">
                        mail
                    </span>
                    <a href="">
                        <span>glasses@business.com</span>
                    </a>

                </li>

            </ul>
        </div>

        <div class="ft-copyrught">

            <p class="copyrught">Copyright © 2020 Glasses.All rights reserved.</p>
            
            <ul class="copyrught-list">
                <li class="copyrught-list__item">
                    <a href="">隱私權政策</a>
                </li>
                <li class="copyrught-list__item">
                    <a href="">服務條款</a>
                </li>
            </ul>

        </div>

    </div>
</div>