<div class="primary_bg_color">
    <div class="container header ">

        <div class="header__logo">
            <a href="index.html">
                <img alt='官網LoGo圖' src="../assets/images/logo-white.png">
            </a>
        </div>

        <nav class="navbar">

            <ul class="navlist fs-20">
                <li class="navlist__item ">
                    <a href="exhibit.html">系列鏡框</a>
                </li>
                <li class="navlist__item">
                    <a href="#">門市據點</a>
                </li>
                <li class="navlist__item">
                    <a href="#">部落格</a>
                </li>
                <li class="navlist__item">
                    <a href="#">常見問題</a>
                </li>
            </ul>

        </nav>


    </div>  
</div>
