<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <style>

    </style>
</head>
<body>
    <%- include('./layout/header'); -%>

    <div class="container exhibit-header-p">
        <ul class="exhibit-header">

            <li class="exhibit-header__item fs-32 fw-m">OPTICAL<p class="exhibit-header__item__state"></p></li>
            <li class="exhibit-header__item fs-32 fw-m">SUNGLASSES<p class="exhibit-header__item__state"></p></li>
            <li class="exhibit-header__item fs-32 fw-m">FUNCTIONAL<p class="exhibit-header__item__state"></p></li>

        </ul>
    </div>

    <div class="exhibit-bgimg">
        <div class="exhibit-bgimg__left"></div>
        <div class="exhibit-bgimg__right"></div>
    </div>

    <div class="container exhibit-fn-family">
        <h1 class="exhibit-title">
            <span class="fs-42">Celluloid Combi</span><br>
            <span class="fs-32">賽璐珞鈦金屬混合鏡框</span>
        </h1>
        <div class="exhibit-box">
            <ul class="exhibit-list">
                <li class="exhibit-list__item">
                    <a href="">
                        <img alt="Celluloid Combi圖片1" src="../assets/images/product-1.png">
                    </a>
                    <div class="exhibit-list__item__body">
                        <span class="fs-24 ">BJ41600S</span>
                        <span class="fs-24 fw-m">NTD3,490</span>
                    </div>
                    <div class="exhibit-list__item__footer">
                        <a href=""></a>
                        <a href=""></a>
                    </div>
                </li>

                <li class="exhibit-list__item">
                    <a href="">
                        <img alt="Celluloid Combi圖片2" src="../assets/images/product-2.png">
                    </a>
                    <div class="exhibit-list__item__body">
                        <span class="fs-24 ">BJ41600S</span>
                        <span class="fs-24 fw-m">NTD3,490</span>
                    </div>
                    <div class="exhibit-list__item__footer">
                        <a href=""></a>
                        <a href=""></a>
                    </div>
                </li>

                <li class="exhibit-list__item">
                    <a href="">
                        <img alt="Celluloid Combi圖片3" src="../assets/images/product-3.png">
                    </a>
                    <div class="exhibit-list__item__body">
                        <span class="fs-24 ">BJ41600S</span>
                        <span class="fs-24 fw-m">NTD3,490</span>
                    </div>
                    <div class="exhibit-list__item__footer">
                        <a href=""></a>
                        <a href=""></a>
                    </div>
                </li>

                <li class="exhibit-list__item">
                    <a href="">
                        <img alt="Celluloid Combi圖片4" src="../assets/images/product-4.png">
                    </a>
                    <div class="exhibit-list__item__body">
                        <span class="fs-24 ">BJ41600S</span>
                        <span class="fs-24 fw-m">NTD3,490</span>
                    </div>
                    <div class="exhibit-list__item__footer">
                        <a href=""></a>
                        <a href=""></a>
                    </div>
                </li>

                <li class="exhibit-list__item">
                    <a href="">
                        <img alt="Celluloid Combi圖片5" src="../assets/images/product-5.png">
                    </a>
                    <div class="exhibit-list__item__body">
                        <span class="fs-24 ">BJ41600S</span>
                        <span class="fs-24 fw-m">NTD3,490</span>
                    </div>
                    <div class="exhibit-list__item__footer">
                        <a href=""></a>
                        <a href=""></a>
                    </div>
                </li>


                <li class="exhibit-list__item">
                    <a href="">
                        <img alt="Celluloid Combi圖片6" src="../assets/images/product-6.png">
                    </a>
                    <div class="exhibit-list__item__body">
                        <span class="fs-24 ">BJ41600S</span>
                        <span class="fs-24 fw-m">NTD3,490</span>
                    </div>
                    <div class="exhibit-list__item__footer">
                        <a href=""></a>
                        <a href=""></a>
                    </div>
                </li>


                <li class="exhibit-list__item">
                    <a href="">
                        <img alt="Celluloid Combi圖片1" src="../assets/images/product-1.png">
                    </a>
                    <div class="exhibit-list__item__body">
                        <span class="fs-24 ">BJ41600S</span>
                        <span class="fs-24 fw-m">NTD3,490</span>
                    </div>
                    <div class="exhibit-list__item__footer">
                        <a href=""></a>
                        <a href=""></a>
                    </div>
                </li>

                <li class="exhibit-list__item">
                    <a href="">
                        <img alt="Celluloid Combi圖片2" src="../assets/images/product-2.png">
                    </a>
                    <div class="exhibit-list__item__body">
                        <span class="fs-24 ">BJ41600S</span>
                        <span class="fs-24 fw-m">NTD3,490</span>
                    </div>
                    <div class="exhibit-list__item__footer">
                        <a href=""></a>
                        <a href=""></a>
                    </div>
                </li>

                <li class="exhibit-list__item">
                    <a href="">
                        <img alt="Celluloid Combi圖片3" src="../assets/images/product-3.png">
                    </a>
                    <div class="exhibit-list__item__body">
                        <span class="fs-24 ">BJ41600S</span>
                        <span class="fs-24 fw-m">NTD3,490</span>
                    </div>
                    <div class="exhibit-list__item__footer">
                        <a href=""></a>
                        <a href=""></a>
                    </div>
                </li>

                <li class="exhibit-list__item">
                    <a href="">
                        <img alt="Celluloid Combi圖片4" src="../assets/images/product-4.png">
                    </a>
                    <div class="exhibit-list__item__body">
                        <span class="fs-24 ">BJ41600S</span>
                        <span class="fs-24 fw-m">NTD3,490</span>
                    </div>
                    <div class="exhibit-list__item__footer">
                        <a href=""></a>
                        <a href=""></a>
                    </div>
                </li>

                <li class="exhibit-list__item">
                    <a href="">
                        <img alt="Celluloid Combi圖片5" src="../assets/images/product-5.png">
                    </a>
                    <div class="exhibit-list__item__body">
                        <span class="fs-24 ">BJ41600S</span>
                        <span class="fs-24 fw-m">NTD3,490</span>
                    </div>
                    <div class="exhibit-list__item__footer">
                        <a href=""></a>
                        <a href=""></a>
                    </div>
                </li>


                <li class="exhibit-list__item">
                    <a href="">
                        <img alt="Celluloid Combi圖片6" src="../assets/images/product-6.png">
                    </a>
                    <div class="exhibit-list__item__body">
                        <span class="fs-24 ">BJ41600S</span>
                        <span class="fs-24 fw-m">NTD3,490</span>
                    </div>
                    <div class="exhibit-list__item__footer">
                        <a href=""></a>
                        <a href=""></a>
                    </div>
                </li>

            </ul>

        </div>

        <div class="page-box">
            <ul class="page-btn">
                
                <li class="page-btn__first ">
                    <a class="fs-19" href="">上一頁</a>
                </li>
                
                <li class="page-btn__item ">
                    <a class="fs-18" href="">1</a>
                </li>
    
                <li class="page-btn__item fs-18">
                    <a class="fs-18" href="">2</a>
                </li>

                <li class="page-btn__item fs-18">
                    <a class="fs-18" href="">3</a>
                </li>

                <li class="page-btn__item fs-18">
                    <a class="fs-18" href="">4</a>
                </li>

                <li class="page-btn__item fs-18">
                    <a class="fs-18" href="">5</a>
                </li>
                
                <li class="page-btn__last ">
                    <a  class="fs-19" href="">下一頁</a>
                </li>
    
            </ul>
        </div>
    </div>

   

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <script>
        let stateControl = 'OPTICAL'
        let headerItemAll = document.querySelectorAll('.exhibit-header__item')
        let state = document.querySelectorAll('.exhibit-header__item__state')

         console.log(state)

        for(let key=0 ;key < headerItemAll.length;key++){
            let headerItem = headerItemAll[key];
            headerItem.addEventListener('click',function(e){
                // console.log(e.target.outerText)
                if(e.target.outerText === 'OPTICAL'){
                    stateControl = 'OPTICAL'
                    
                }else if(e.target.outerText === 'SUNGLASSES'){
                    stateControl = 'SUNGLASSES'
                    
                }else if(e.target.outerText === 'FUNCTIONAL'){
                    stateControl = 'FUNCTIONAL'
                }
                itemState()
            })
        }

        function itemState(){
            if(stateControl === 'OPTICAL'){
                state[0].style.setProperty("display", "block");
                state[1].style.removeProperty('display');
                state[2].style.removeProperty('display')
    
            }else if(stateControl === 'SUNGLASSES'){
                state[1].style.setProperty("display", "block");
                state[0].style.removeProperty('display');
                state[2].style.removeProperty('display')
 
            }else if(stateControl === 'FUNCTIONAL'){
                state[2].style.setProperty("display", "block");
                state[0].style.removeProperty('display');
                state[1].style.removeProperty('display')
 
            }
        }
        itemState()

    </script>
</body>
</html>