<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <style>

    </style>
</head>
<body>
    <%- include('./layout/header'); -%>

    <div class="container exhibit-header-p">
        <ul class="exhibit-header">

            <li class="exhibit-header__item fs-32 fw-m">OPTICAL<p class="exhibit-header__item__state"></p></li>
            <li class="exhibit-header__item fs-32 fw-m">SUNGLASSES<p class="exhibit-header__item__state"></p></li>
            <li class="exhibit-header__item fs-32 fw-m">FUNCTIONAL<p class="exhibit-header__item__state"></p></li>

        </ul>
    </div>

    <div class="exhibit-bgimg">
        <div class="exhibit-bgimg__left"></div>
        <div class="exhibit-bgimg__right"></div>
    </div>

    <div class="container exhibit-fn-family">
        <h1 class="exhibit-title">
            <span class="fs-42">Celluloid Combi</span><br>
            <span class="fs-32">賽璐珞鈦金屬混合鏡框</span>
        </h1>
        <div class="exhibit-box">
            <ul class="exhibit-list">
                <li class="exhibit-list__item">
                    <a href="#">
                        <img alt="Celluloid Combi圖片1" src="../assets/images/product-1.png">
                    </a>
                    <div class="exhibit-list__item__body">
                        <span class="fs-24 ">BJ41600S</span>
                        <span class="fs-24 fw-m">NTD3,490</span>
                    </div>
                    <div class="exhibit-list__item__footer">
                        <a href="#"></a>
                        <a href="#"></a>
                    </div>
                </li>

                <li class="exhibit-list__item">
                    <a href="#">
                        <img alt="Celluloid Combi圖片2" src="../assets/images/product-2.png">
                    </a>
                    <div class="exhibit-list__item__body">
                        <span class="fs-24 ">BJ41600S</span>
                        <span class="fs-24 fw-m">NTD3,490</span>
                    </div>
                    <div class="exhibit-list__item__footer">
                        <a href="#"></a>
                        <a href="#"></a>
                    </div>
                </li>

                <li class="exhibit-list__item">
                    <a href="#">
                        <img alt="Celluloid Combi圖片3" src="../assets/images/product-3.png">
                    </a>
                    <div class="exhibit-list__item__body">
                        <span class="fs-24 ">BJ41600S</span>
                        <span class="fs-24 fw-m">NTD3,490</span>
                    </div>
                    <div class="exhibit-list__item__footer">
                        <a href="#"></a>
                        <a href="#"></a>
                    </div>
                </li>

                <li class="exhibit-list__item">
                    <a href="#">
                        <img alt="Celluloid Combi圖片4" src="../assets/images/product-4.png">
                    </a>
                    <div class="exhibit-list__item__body">
                        <span class="fs-24 ">BJ41600S</span>
                        <span class="fs-24 fw-m">NTD3,490</span>
                    </div>
                    <div class="exhibit-list__item__footer">
                        <a href="#"></a>
                        <a href="#"></a>
                    </div>
                </li>

                <li class="exhibit-list__item">
                    <a href="#">
                        <img alt="Celluloid Combi圖片5" src="../assets/images/product-5.png">
                    </a>
                    <div class="exhibit-list__item__body">
                        <span class="fs-24 ">BJ41600S</span>
                        <span class="fs-24 fw-m">NTD3,490</span>
                    </div>
                    <div class="exhibit-list__item__footer">
                        <a href="#"></a>
                        <a href="#"></a>
                    </div>
                </li>


                <li class="exhibit-list__item">
                    <a href="#">
                        <img alt="Celluloid Combi圖片6" src="../assets/images/product-6.png">
                    </a>
                    <div class="exhibit-list__item__body">
                        <span class="fs-24 ">BJ41600S</span>
                        <span class="fs-24 fw-m">NTD3,490</span>
                    </div>
                    <div class="exhibit-list__item__footer">
                        <a href="#"></a>
                        <a href="#"></a>
                    </div>
                </li>


                <li class="exhibit-list__item">
                    <a href="#">
                        <img alt="Celluloid Combi圖片1" src="../assets/images/product-1.png">
                    </a>
                    <div class="exhibit-list__item__body">
                        <span class="fs-24 ">BJ41600S</span>
                        <span class="fs-24 fw-m">NTD3,490</span>
                    </div>
                    <div class="exhibit-list__item__footer">
                        <a href="#"></a>
                        <a href="#"></a>
                    </div>
                </li>

                <li class="exhibit-list__item">
                    <a href="#">
                        <img alt="Celluloid Combi圖片2" src="../assets/images/product-2.png">
                    </a>
                    <div class="exhibit-list__item__body">
                        <span class="fs-24 ">BJ41600S</span>
                        <span class="fs-24 fw-m">NTD3,490</span>
                    </div>
                    <div class="exhibit-list__item__footer">
                        <a href="#"></a>
                        <a href="#"></a>
                    </div>
                </li>

                <li class="exhibit-list__item">
                    <a href="#">
                        <img alt="Celluloid Combi圖片3" src="../assets/images/product-3.png">
                    </a>
                    <div class="exhibit-list__item__body">
                        <span class="fs-24 ">BJ41600S</span>
                        <span class="fs-24 fw-m">NTD3,490</span>
                    </div>
                    <div class="exhibit-list__item__footer">
                        <a href="#"></a>
                        <a href="#"></a>
                    </div>
                </li>

                <li class="exhibit-list__item">
                    <a href="#">
                        <img alt="Celluloid Combi圖片4" src="../assets/images/product-4.png">
                    </a>
                    <div class="exhibit-list__item__body">
                        <span class="fs-24 ">BJ41600S</span>
                        <span class="fs-24 fw-m">NTD3,490</span>
                    </div>
                    <div class="exhibit-list__item__footer">
                        <a href="#"></a>
                        <a href="#"></a>
                    </div>
                </li>

                <li class="exhibit-list__item">
                    <a href="#">
                        <img alt="Celluloid Combi圖片5" src="../assets/images/product-5.png">
                    </a>
                    <div class="exhibit-list__item__body">
                        <span class="fs-24 ">BJ41600S</span>
                        <span class="fs-24 fw-m">NTD3,490</span>
                    </div>
                    <div class="exhibit-list__item__footer">
                        <a href="#"></a>
                        <a href="#"></a>
                    </div>
                </li>


                <li class="exhibit-list__item">
                    <a href="#">
                        <img alt="Celluloid Combi圖片6" src="../assets/images/product-6.png">
                    </a>
                    <div class="exhibit-list__item__body">
                        <span class="fs-24 ">BJ41600S</span>
                        <span class="fs-24 fw-m">NTD3,490</span>
                    </div>
                    <div class="exhibit-list__item__footer">
                        <a href="#"></a>
                        <a href="#"></a>
                    </div>
                </li>

            </ul>

        </div>

        <div class="page-box">

            <ul class="page-btn">
                
                <li class="page-btn__first fs-19 hover-state">上一頁</li>
                
                <li class="page-btn__item fs-18 hover-state">1</li>
    
                <li class="page-btn__item fs-18 hover-state">2</li>

                <li class="page-btn__item fs-18 hover-state">3</li>

                <li class="page-btn__item fs-18 hover-state">4</li>

                <li class="page-btn__item fs-18 hover-state">5</li>
                
                <li class="page-btn__last fs-19 hover-state">下一頁</li>
    
            </ul>

        </div>
    </div>

   

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <script>
        let stateControl = 'OPTICAL'
        let headerItemAll = document.querySelectorAll('.exhibit-header__item')
        let state = document.querySelectorAll('.exhibit-header__item__state')
        let firstBtn = document.querySelector('.page-btn__first')
        let lasttBtn = document.querySelector('.page-btn__last')
        let pageBtn = document.querySelectorAll('.page-btn__item')
        let page = 1

   

        function pageState(num){
            page = num - 1
            for(let i=0;i<pageBtn.length;i++){
                pageBtn[i].classList.remove('btn-state')
                pageBtn[i].classList.add('hover-state')
            }
            pageBtn[page].classList.add('btn-state')
            pageBtn[page].classList.remove('hover-state')
        }

      

        function itemState(){
            if(stateControl === 'OPTICAL'){
                state[0].style.setProperty("display", "block");
                state[1].style.removeProperty('display');
                state[2].style.removeProperty('display')
    
            }else if(stateControl === 'SUNGLASSES'){
                state[1].style.setProperty("display", "block");
                state[0].style.removeProperty('display');
                state[2].style.removeProperty('display')
 
            }else if(stateControl === 'FUNCTIONAL'){
                state[2].style.setProperty("display", "block");
                state[0].style.removeProperty('display');
                state[1].style.removeProperty('display')
 
            }
        }
        

        firstBtn.addEventListener('click',function(e){
         if(page <= 0){
            page = 0
         }else{
            pageState(page)
         }
        })
        lasttBtn.addEventListener('click',function(e){
            if(page>=4){
                page=4
            }else{
                pageState(page+2)
            }
        })
        for(let i=0 ; i < pageBtn.length ;i++){
            let btnArr = pageBtn[i];
            btnArr.addEventListener('click',function(e){
                pageState(e.target.innerText)
            })
        }
        for(let i=0 ;i < headerItemAll.length;i++){
            let headerItem = headerItemAll[i];
            headerItem.addEventListener('click',function(e){
                if(e.target.outerText === 'OPTICAL'){
                    stateControl = 'OPTICAL'
                    
                }else if(e.target.outerText === 'SUNGLASSES'){
                    stateControl = 'SUNGLASSES'
                    
                }else if(e.target.outerText === 'FUNCTIONAL'){
                    stateControl = 'FUNCTIONAL'
                }
                itemState()
            })
        }
        
        itemState()
        pageState(page)

    </script>
</body>
</html>