<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>
<body>

    <%- include('./layout/header'); -%>

<!-- 大圖區 -->
    <div class="main secondary_bg_color">

        <div class="main-big-pic">

            <div class="container big-pic-container" >

                <div class="big-pic-title">
                    
                    <h1 class="big-pic-title__h1 fs-36"  data-aos="fade-left">Promise-Desert 2020 早春系列</h1>
                    <h2 class="big-pic-title__h2 fs-64 fw-b" data-aos="fade-left" >看得清，才能看得遠</h2>

                    <div class="big-pic-btn">
                        <a class="big-pic-btn__a" href="#">立即購買</a>
                    </div>

                   
                </div>

            </div>

        </div>

<!-- 用專業的心，做專業的事 區 -->
        <div class="container main-body">

            <h2 class="main-h2 fs-48 fw-b" >用專業的心，做專業的事</h2>

            <ul class="maincard">

                <li class="maincard__item" data-aos="fade-right">
                    <div class="maincard__item__imgbox">
                        <img alt="卡片圖片" src="../assets/images/home-section2-1.png">
                    </div>
                    <h3 class='maincard__item__title fs-24 fw-b'>單一價格</h3>
                    <p class='maincard__item__body'>無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</p>
                </li>

                <li class="maincard__item" data-aos="fade-left">
                    <div class="maincard__item__imgbox">
                        <img alt="卡片圖片" src="../assets/images/home-section2-2.png">
                    </div>
                    <h3 class='maincard__item__title fs-24 fw-b'>20 分鐘即可取件</h3>
                    <p class='maincard__item__body'>為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快 20 分鐘即可完成。</p>
                </li>

                <li class="maincard__item" data-aos="fade-right">
                    <div class="maincard__item__imgbox">
                        <img alt="卡片圖片" src="../assets/images/home-section2-3.png">
                    </div>
                    <h3 class='maincard__item__title fs-24 fw-b'>安心售後服務</h3>
                    <p class='maincard__item__body'>我們提供長達 120 天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。</p>
                </li>

                <li class="maincard__item" data-aos="fade-left">
                    <div class="maincard__item__imgbox">
                        <img alt="卡片圖片" src="../assets/images/home-sectioin2-4.png">
                    </div>
                    <h3 class='maincard__item__title fs-24 fw-b'>關於鏡片</h3>
                    <p class='maincard__item__body'>使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</p>
                </li>

            </ul>

        </div>


    </div>


<!-- 經典系列鏡框 -->
     
    <div class="product bg_color">
        <div class="container container-product">
            <h2 class="product-title fs-48 fw-b">經典系列鏡框</h2>

            <ul class="product__card">

                <li class="product__card__item">

                    <img  alt="經典系列鏡框_圖左" src="../assets/images/home-section3-1.png" data-aos="flip-left"
                    data-aos-easing="ease-out-cubic"
                    data-aos-duration="2000">
                    <h3 class="product__card__item__title fs-48 fw-w">OPTICAL</h3>

                </li>
    
                <li class="product__card__item">

                    <img alt="經典系列鏡框_圖中" src="../assets/images/home-section3-2.png" data-aos="flip-left"
                    data-aos-easing="ease-out-cubic"
                    data-aos-duration="2000">
                    <h3 class="product__card__item__title fs-48 fw-w">SUNGLASSES</h3>

                </li>
    
                <li class="product__card__item">
                    
                    <img alt="經典系列鏡框_圖右" src="../assets/images/home-section3-3.png" data-aos="flip-left"
                    data-aos-easing="ease-out-cubic"
                    data-aos-duration="2000">
                    <h3 class="product__card__item__title fs-48 fw-w">FUNCTIONAL</h3>

                </li>

            </ul>

        </div>
    </div>

<!-- 聯合設計鏡框 -->
    <div class="product2">

        <div class="container container-product2">

            <h2 class="product2-title fs-48 fw-b" data-aos="flip-up">聯名設計鏡框</h2>

            <ul class="product2__card">

                <li class="product2__card__item pc-show" data-aos="zoom-in-left">
                    <img alt="聯名設計鏡框_圖左" src="../assets/images/home-section4-1.png">
                    <h3 class="product2__card__item__title fs-48 fw-w">DOUBLE A+</h3>
                </li>

                <li class="product2__card__item pc-show" data-aos="zoom-in-right">
                    <img alt="聯名設計鏡框_圖右" src="../assets/images/home-section4-2.png">
                    <h3 class="product2__card__item__title fs-48 fw-w">YOUTH</h3>
                </li>

                <li class="product2__card__item phone-show" data-aos="zoom-in-left">
                    <img alt="聯名設計鏡框_圖左" src="../assets/images/home-section4-1-sm.png">
                    <h3 class="product2__card__item__title fs-48 fw-w">DOUBLE A+</h3>
                </li>

                <li class="product2__card__item phone-show" data-aos="zoom-in-right">
                    <img alt="聯名設計鏡框_圖右" src="../assets/images/home-section4-2-sm.png">
                    <h3 class="product2__card__item__title fs-48 fw-w">YOUTH</h3>
                </li>

            </ul>

        </div>

    </div>

    <!-- 顧客推薦區 -->

    <div class="recommend bg_color">
    
        <div class="container container-recommend">
            <h2 class="re-title fs-48 fw-b"  data-aos="flip-up">顧客推薦</h2>
            <ul class="re-box">
                <li class="re-card"  data-aos="flip-left">

                    <img src="../assets/images/home-section5-1.png">
                    <h3 class="re-card__title fw-m">Jessy</h3>

                    <div class="re-card__body">      
                        <p>眼鏡品質優良，下次還會想來這邊購買！</p>
                    </div>

                    <p class="re-card__footer fs-14">2021/06/20</p>
                    
                </li>

                <li class="re-card"  data-aos="flip-right">
                    
                    <img src="../assets/images/home-section5-2.png">
                    <h3  class="re-card__title fw-m">凱倫</h3>

                    <div class="re-card__body">
                        <p>做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！</p>
                       
                    </div>
                    <p class="re-card__footer fs-14">2021/04/18</p>
                </li>

                <li class="re-card"  data-aos="flip-left">

                    <img src="../assets/images/home-section5-3.png">
                    <h3 class="re-card__title fw-m">悠悠</h3>

                    <div class="re-card__body">  
                        <p>謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！</p>
                       
                    </div>     
                    <p class="re-card__footer fs-14">2020/12/25</p>

                </li>

                <li class="re-card"  data-aos="flip-right">
                    
                    <img src="../assets/images/home-section5-4.png">

                    <h3 class="re-card__title fw-m">Kyuan</h3>

                    <div class="re-card__body">  
                        <p>服務很好，品質沒有任何問題，非常喜歡。</p>
                    </div>
                    
                    <p class="re-card__footer fs-14">2020/10/31</p>
                    
                </li>

            </ul>
        </div>
    </div>

    <!-- 聯絡我們區 -->
    <div class="contact secondary_bg_color">

        <div class="container contact-container">
            <h2 class="contact-title fs-48 fw-b">聯絡我們</h2>
            
            <div class="form">
                <p class="form__title fs-20">我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若<br>仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。</p>
                <label for="fname" class="form__label">姓名</label>
                <input type="text" class="form__input" id="fname" name="fname"   placeholder="陳小明">

                <label for="fphone" class="form__label">連絡電話</label>
                <input type="tel" class="form__input" id="fphone" name="fphone"   placeholder="0912-345-678">

                <label for="femail" class="form__label">電子郵件</label>
                <input type="email" class="form__input" id="femail" name="femail"   placeholder="example@email.com">
                
                <label for="ftext" class="form__label">意見反應</label>
                <textarea id="ftext" name="ftext" class="form__text"  placeholder="請輸入您的意見"></textarea>

                <div class="check-div">
                    <input  type="checkbox" class="checkbox"  id="check" name="check">
                    <label for="check">我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。</label>
                </div>

                <a href="#" class="form__btn fw-b">確認送出</a>
            </div>
        </div>

    </div>


    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>

    <script>

      AOS.init();
      AOS.init({
        // Global settings:
        duration: 800, // values from 0 to 3000, with step 50ms
    });

    </script>
</body>
</html>